
.custom-footer {
    height: 300px;
    /* Ajusta la altura según tus necesidades */
}

/* Custom styles for off-canvas menu */
.offcanvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1032;
    /* Adjust the z-index as needed */
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease;
    background-color: #f8f9fa;
    /* Adjust the background color as needed */
}

.offcanvas-menu.show {
    transform: translateX(0);
}

.offcanvas-content {
    padding: 15px;
}

.navbar-toggler {
    display: inline-block !important;
}

.navbar {
    height: 120px;
    /* Ajusta la altura según tus necesidades */
}
